<!DOCTYPE html>
<html>
    <link rel="stylesheet" href='/static/style.css' />
<head>
    <title>Uniqloo Inventory</title>
</head>
<body>
<h1 align="center">Uniqloo Inventory</h1>
<div id="outer">
    <div class="inner" align="left"><a href=gloves>
        <button class=grey style="height:50px;width:100px">Gloves</button>
    </a></div>
    <div class="inner" align="center"><a href=facemasks>
        <button class=grey style="height:50px;width:100px">Facemasks</button>
    </a></div>
    <div class="inner" align="right"><a href=beanies>
        <button class=grey style="height:50px;width:100px">Beanies</button>
    </a></div>
</div>
</body>
<footer class="inner" align="center">
    <p><small>© 2021 Cuong Nguyen</small></p>
</footer>
</html>
